<section class="list">
    {% for project_hash in site.project-list %}
    {% assign project = project_hash[1] %}
        <div class="item">
                
                <h3 class="title">{{ project.name }}</h3>
                <p style="text-align:justify">{{ project.description }}</p>
		{% if project.link %}
		<a href= "{{project.link}}">{{project.link}}</a>
		{% endif %}
		<video width="560" height="460" autoplay loop muted style="vertical-align:middle">
  			<source src="{{project.video}}" type="video/mp4">
			<source src="{{project.video}}" type="video/webm">
  			<div style="border: 1px solid black ; padding: 8px ;">
				Sorry, your browser does not support the &lt;video&gt; tag used in this demo.
			</div>
		</video>         
        </div>
    {% endfor %}
</section>
